 <!--  Project : Search Social media Profiles -->
 <!--  Date   : 22/05/219 -->
 <!--  Author : Wembo otepa Mulumba -->

<app-menu></app-menu>
<div class="main">
  <!-- Search Function -->
  <div class="input-group">  
        <input  type="text" id="keyword" [formControl]="keyword"  placeholder="Start Searching Social Media Profiles">
        <div class="input-group-append">
          <button class="btn btn-danger" type="button" (click)="searchAllProfiles(keyword.value)">
           Search
          </button>
        </div>     
  </div>
  <span>Result Loading Here....</span>
 <div *ngFor="let item of data"   >
    <div  style="margin-top:50px" >
      <div >
        <h5>{{  item.url }}</h5>   
        <p>{{  item.postid}} </p>

        <p>{{  item.user.url}}</p>
        <p>{{  item.user.name}}</p>
        
      </div>
    </div>
</div>
</div>
<router-outlet></router-outlet>
