 <!--  Project : Search Social media Profiles -->
 <!--  Date   : 22/05/219 -->
 <!--  Author : Wembo otepa Mulumba -->

<app-menu></app-menu>
<div class="main">
  <!-- Search Function -->
  <div class="input-group">  
        <input  type="text" id="keyword" [formControl]="keyword"  placeholder="Start Searching Social Media Profiles">
        <div class="input-group-append">
          <button class="btn btn-danger" type="button" (click)="searchAllProfiles(keyword.value)">
           Search
          </button>
        </div>     
  </div>
  <span>Result Loading Here....</span>
 <div *ngFor="let item of data"   >
    <div  style="margin-top:55px" >
      <div >
        <h5><a btn-twitter href="{{    item.url      }}">{{  item.url}}</a>   </h5>   
        <p>   <a href="{{  item.postid }}" >{{  item.postid}}</a> </p>
        <p><a href="{{     item.user.name }}">{{  item.user.name}}</a> </p>
        
      </div>
    </div>
</div>
</div>
<router-outlet></router-outlet>
